In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [3]:
sqladb=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names=['Age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','>50K, <=50K'])
# 1)  Select 10 records from the adult sqladb
print(pysqldf("SELECT *   from sqladb LIMIT 10 ;"))

   Age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13
5   37            Private  284582     Masters             14
6   49            Private  160187         9th              5
7   52   Self-emp-not-inc  209642     HS-grad              9
8   31            Private   45781     Masters             14
9   42            Private  159449   Bachelors             13

           marital-status          occupation    relationship    race  \
0           Never-married        Adm-clerical   Not-in-family   White
1      Married-civ-spouse     Exec-managerial         Husband   White
2                Divorced   Handlers-cleaners   Not-in-family   White
3      Married-civ-spouse   Handlers-cleaners         Husband   Black
4      Married-civ-spouse      Prof-specialty            Wife   Black
5      Married-civ-spouse     Exec-managerial            Wife   White
6   Married-spouse-absent       Other-service   Not-in-family   Black
7      Married-civ-spouse     Exec-managerial         Husband   White
8           Never-married      Prof-specialty   Not-in-family   White
9      Married-civ-spouse     Exec-managerial         Husband   White

       sex  capital-gain  capital-loss  hours-per-week  native-country  \
0     Male          2174             0              40   United-States
1     Male             0             0              13   United-States
2     Male             0             0              40   United-States
3     Male             0             0              40   United-States
4   Female             0             0              40            Cuba
5   Female             0             0              40   United-States
6   Female             0             0              16         Jamaica
7     Male             0             0              45   United-States
8   Female         14084             0              50   United-States
9     Male          5178             0              40   United-States

  >50K, <=50K
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
5       <=50K
6       <=50K
7        >50K
8        >50K
9        >50K

In [4]:
# 2)  show me the average hours per week for all the mens #working in private sector
def trimAllColumns(df):
  trimStrings = lambda x:x.strip() if type(x) is str else x
  return df.applymap(trimStrings)

sqladb = trimAllColumns(sqladb)

sqladb.columns = sqladb.columns.str.replace('-','_')

print(pysqldf("SELECT sex, workclass,avg(hours_per_week)  from sqladb where sex='Male' and workclass='Private' ;"))

    sex workclass  avg(hours_per_week)
0  Male   Private            42.221226

In [5]:
# 3) show me the frequency table of education, occupation and relationship seperately

In [6]:
print(pysqldf("SELECT education, count(education) FROM sqladb group by education;"))

       education  count(education)
0           10th               933
1           11th              1175
2           12th               433
3        1st-4th               168
4        5th-6th               333
5        7th-8th               646
6            9th               514
7     Assoc-acdm              1067
8      Assoc-voc              1382
9      Bachelors              5355
10     Doctorate               413
11       HS-grad             10501
12       Masters              1723
13     Preschool                51
14   Prof-school               576
15  Some-college              7291

In [7]:
print(pysqldf("SELECT occupation, count(occupation) FROM sqladb group by occupation;"))

           occupation  count(occupation)
0                   ?               1843
1        Adm-clerical               3770
2        Armed-Forces                  9
3        Craft-repair               4099
4     Exec-managerial               4066
5     Farming-fishing                994
6   Handlers-cleaners               1370
7   Machine-op-inspct               2002
8       Other-service               3295
9     Priv-house-serv                149
10     Prof-specialty               4140
11    Protective-serv                649
12              Sales               3650
13       Tech-support                928
14   Transport-moving               1597

In [8]:
print(pysqldf("SELECT relationship, count(relationship) FROM sqladb group by relationship;"))

     relationship  count(relationship)
0         Husband                13193
1   Not-in-family                 8305
2  Other-relative                  981
3       Own-child                 5068
4       Unmarried                 3446
5            Wife                 1568

In [9]:
# 4) Are their any people who are married , working in private sector and have master's degree
print(print(pysqldf("SELECT *   from sqladb WHERE marital_status in ('Married-civ-spouse','Married-spouse-absent','Married-AF-spouse') and workclass='Private' and education ='Masters' ;")))

     Age workclass  fnlwgt education  education_num         marital_status  \
0     37   Private  284582   Masters             14     Married-civ-spouse
1     33   Private  202051   Masters             14     Married-civ-spouse
2     76   Private  124191   Masters             14     Married-civ-spouse
3     31   Private   99928   Masters             14     Married-civ-spouse
4     35   Private  138992   Masters             14     Married-civ-spouse
5     34   Private  142897   Masters             14     Married-civ-spouse
6     62   Private  270092   Masters             14     Married-civ-spouse
7     41   Private  445382   Masters             14     Married-civ-spouse
8     33   Private  208405   Masters             14     Married-civ-spouse
9     49   Private  192776   Masters             14     Married-civ-spouse
10    51   Private  410114   Masters             14     Married-civ-spouse
11    31   Private  118710   Masters             14     Married-civ-spouse
12    34   Private   73585   Masters             14     Married-civ-spouse
13    40   Private  170108   Masters             14     Married-civ-spouse
14    43   Private  158926   Masters             14     Married-civ-spouse
15    51   Private  138022   Masters             14     Married-civ-spouse
16    43   Private  227065   Masters             14     Married-civ-spouse
17    38   Private  173208   Masters             14     Married-civ-spouse
18    33   Private  354573   Masters             14     Married-civ-spouse
19    25   Private  404616   Masters             14     Married-civ-spouse
20    59   Private  151616   Masters             14     Married-civ-spouse
21    38   Private   22245   Masters             14     Married-civ-spouse
22    46   Private  279661   Masters             14     Married-civ-spouse
23    57   Private   89392   Masters             14  Married-spouse-absent
24    65   Private  198766   Masters             14     Married-civ-spouse
25    55   Private   98361   Masters             14     Married-civ-spouse
26    45   Private   46406   Masters             14     Married-civ-spouse
27    48   Private  126754   Masters             14     Married-civ-spouse
28    54   Private  177927   Masters             14     Married-civ-spouse
29    43   Private  201723   Masters             14     Married-civ-spouse
..   ...       ...     ...       ...            ...                    ...
510   23   Private  143003   Masters             14     Married-civ-spouse
511   50   Private  201882   Masters             14     Married-civ-spouse
512   44   Private  267717   Masters             14     Married-civ-spouse
513   30   Private  182771   Masters             14     Married-civ-spouse
514   39   Private  198841   Masters             14     Married-civ-spouse
515   53   Private   53197   Masters             14     Married-civ-spouse
516   55   Private   70088   Masters             14     Married-civ-spouse
517   36   Private  199346   Masters             14     Married-civ-spouse
518   30   Private  378009   Masters             14     Married-civ-spouse
519   35   Private   75855   Masters             14     Married-civ-spouse
520   59   Private   59469   Masters             14     Married-civ-spouse
521   39   Private   72338   Masters             14     Married-civ-spouse
522   50   Private  176157   Masters             14     Married-civ-spouse
523   30   Private  341051   Masters             14     Married-civ-spouse
524   43   Private  346321   Masters             14     Married-civ-spouse
525   47   Private  155664   Masters             14     Married-civ-spouse
526   48   Private  379883   Masters             14     Married-civ-spouse
527   49   Private  123681   Masters             14     Married-civ-spouse
528   43   Private  174295   Masters             14     Married-civ-spouse
529   32   Private  313835   Masters             14     Married-civ-spouse
530   40   Private  137225   Masters             14     Married-civ-spouse
531   25   Private  178025   Masters             14     Married-civ-spouse
532   31   Private  183801   Masters             14     Married-civ-spouse
533   61   Private  232719   Masters             14     Married-civ-spouse
534   41   Private  122215   Masters             14     Married-civ-spouse
535   33   Private  139057   Masters             14     Married-civ-spouse
536   34   Private   30673   Masters             14     Married-civ-spouse
537   41   Private  201495   Masters             14     Married-civ-spouse
538   46   Private   42972   Masters             14     Married-civ-spouse
539   53   Private  321865   Masters             14     Married-civ-spouse

            occupation    relationship                race     sex  \
0      Exec-managerial            Wife               White  Female
1       Prof-specialty         Husband               White    Male
2      Exec-managerial         Husband               White    Male
3       Prof-specialty            Wife               White  Female
4       Prof-specialty  Other-relative               White    Male
5      Exec-managerial         Husband  Asian-Pac-Islander    Male
6       Prof-specialty         Husband               White    Male
7      Exec-managerial         Husband               White    Male
8       Prof-specialty         Husband               White    Male
9      Exec-managerial         Husband               White    Male
10        Craft-repair         Husband               White    Male
11        Tech-support         Husband               White    Male
12      Prof-specialty         Husband               White    Male
13      Prof-specialty         Husband               White    Male
14      Prof-specialty            Wife  Asian-Pac-Islander  Female
15     Exec-managerial         Husband               White    Male
16     Exec-managerial         Husband               White    Male
17      Prof-specialty         Husband               White    Male
18      Prof-specialty         Husband               White    Male
19     Farming-fishing   Not-in-family               White    Male
20      Prof-specialty         Husband               White    Male
21    Transport-moving         Husband               White    Male
22      Prof-specialty         Husband               Black    Male
23      Prof-specialty   Not-in-family               White  Female
24               Sales         Husband               White    Male
25      Prof-specialty         Husband               White    Male
26      Prof-specialty         Husband               White    Male
27      Prof-specialty         Husband               White    Male
28      Prof-specialty         Husband               White    Male
29     Exec-managerial         Husband               White    Male
..                 ...             ...                 ...     ...
510     Prof-specialty         Husband  Asian-Pac-Islander    Male
511  Machine-op-inspct         Husband               White    Male
512     Prof-specialty         Husband               White    Male
513     Prof-specialty         Husband  Asian-Pac-Islander    Male
514     Prof-specialty         Husband               White    Male
515     Prof-specialty         Husband               White    Male
516     Prof-specialty         Husband               White    Male
517     Prof-specialty            Wife               White  Female
518    Exec-managerial         Husband               White    Male
519     Prof-specialty         Husband               Black    Male
520       Tech-support         Husband               White    Male
521     Prof-specialty         Husband  Asian-Pac-Islander    Male
522    Exec-managerial         Husband               White    Male
523    Exec-managerial         Husband               White    Male
524     Prof-specialty         Husband               White    Male
525    Exec-managerial         Husband               White    Male
526     Prof-specialty         Husband               White    Male
527     Prof-specialty         Husband               White    Male
528     Prof-specialty         Husband               White    Male
529     Prof-specialty         Husband               White    Male
530    Exec-managerial         Husband               White    Male
531     Prof-specialty         Husband               White    Male
532     Prof-specialty         Husband               White    Male
533     Prof-specialty         Husband               White    Male
534     Prof-specialty         Husband               White    Male
535       Tech-support         Husband  Asian-Pac-Islander    Male
536     Prof-specialty         Husband               White    Male
537    Exec-managerial         Husband               White    Male
538     Prof-specialty            Wife               White  Female
539    Exec-managerial         Husband               White    Male

     capital_gain  capital_loss  hours_per_week native_country >50K, <=50K
0               0             0              40  United-States       <=50K
1               0             0              50  United-States       <=50K
2               0             0              40  United-States        >50K
3               0             0              50  United-States       <=50K
4            7298             0              40  United-States        >50K
5            7298             0              35         Taiwan        >50K
6               0             0              40  United-States        >50K
7               0          1977              65  United-States        >50K
8               0             0              50  United-States        >50K
9               0          1977              45  United-States        >50K
10              0             0              40  United-States        >50K
11              0          1902              40  United-States        >50K
12              0             0              40              ?       <=50K
13              0             0              40  United-States       <=50K
14              0             0              50          South       <=50K
15              0             0              60  United-States        >50K
16              0             0              43  United-States        >50K
17              0             0              25  United-States       <=50K
18          15024             0              44  United-States        >50K
19              0             0              99  United-States        >50K
20              0             0              55  United-States       <=50K
21              0             0              72              ?        >50K
22              0             0              35  United-States       <=50K
23              0             0              40  United-States       <=50K
24          20051             0              40  United-States        >50K
25          15024             0              50              ?        >50K
26              0             0              36        England        >50K
27          15024             0              40  United-States        >50K
28              0             0              60  United-States       <=50K
29              0          1902              40  United-States        >50K
..            ...           ...             ...            ...         ...
510             0          1887              50          India        >50K
511             0             0              30  United-States       <=50K
512             0             0              42  United-States        >50K
513             0             0              40  United-States        >50K
514          7688             0              45  United-States        >50K
515          3103             0              40  United-States        >50K
516             0             0              40  United-States        >50K
517             0             0              50  United-States        >50K
518             0             0              50  United-States        >50K
519          7298             0              40              ?        >50K
520             0             0              40           Iran       <=50K
521             0             0              40    Philippines        >50K
522             0             0              50  United-States        >50K
523         15024             0              60  United-States        >50K
524             0             0              45  United-States        >50K
525         99999             0              55  United-States        >50K
526             0             0              40           Cuba        >50K
527             0             0              43  United-States        >50K
528             0             0              55  United-States       <=50K
529             0             0              40  United-States        >50K
530             0             0              40  United-States        >50K
531             0             0              40  United-States       <=50K
532             0          1902              43  United-States        >50K
533             0             0              50  United-States       <=50K
534         15024             0              40  United-States        >50K
535             0             0              50  United-States        >50K
536             0             0              55  United-States       <=50K
537             0             0              40  United-States        >50K
538             0             0              22  United-States        >50K
539             0             0              40  United-States        >50K

[540 rows x 15 columns]
None

In [10]:
# 5) What is the average , maximum, minimum age of people working in different sector
print(pysqldf("SELECT avg(age),max(age),min(age),workclass from sqladb group by workclass ;"))

    avg(age)  max(age)  min(age)         workclass
0  40.960240        90        17                 ?
1  42.590625        90        17       Federal-gov
2  41.751075        90        17         Local-gov
3  20.571429        30        17      Never-worked
4  36.797585        90        17           Private
5  46.017025        84        17      Self-emp-inc
6  44.969697        90        17  Self-emp-not-inc
7  39.436055        81        17         State-gov
8  47.785714        72        19       Without-pay

In [11]:
# 6) Calculate age distribution by country
print(pysqldf("SELECT count(age) as age , native_country from sqladb group by native_country ;"))

      age              native_country
0     583                           ?
1      19                    Cambodia
2     121                      Canada
3      75                       China
4      59                    Columbia
5      95                        Cuba
6      70          Dominican-Republic
7      28                     Ecuador
8     106                 El-Salvador
9      90                     England
10     29                      France
11    137                     Germany
12     29                      Greece
13     64                   Guatemala
14     44                       Haiti
15      1          Holand-Netherlands
16     13                    Honduras
17     20                        Hong
18     13                     Hungary
19    100                       India
20     43                        Iran
21     24                     Ireland
22     73                       Italy
23     81                     Jamaica
24     62                       Japan
25     18                        Laos
26    643                      Mexico
27     34                   Nicaragua
28     14  Outlying-US(Guam-USVI-etc)
29     31                        Peru
30    198                 Philippines
31     60                      Poland
32     37                    Portugal
33    114                 Puerto-Rico
34     12                    Scotland
35     80                       South
36     51                      Taiwan
37     18                    Thailand
38     19             Trinadad&Tobago
39  29170               United-States
40     67                     Vietnam
41     16                  Yugoslavia

In [12]:
# 7) Compute a new Column as Net-Capital Gain from the two columns 'capital-gain' and 'capital loss'
sqladb["Net_Captial_Loss"] =  sqladb["capital_gain"].astype(int) - sqladb["capital_loss"].astype(int) 
print(sqladb["Net_Captial_Loss"])

0         2174
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8        14084
9         5178
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23       -2042
24           0
25           0
26           0
27           0
28           0
29           0
         ...
32531        0
32532        0
32533        0
32534        0
32535        0
32536        0
32537        0
32538    15020
32539        0
32540        0
32541        0
32542        0
32543        0
32544        0
32545        0
32546        0
32547        0
32548     1086
32549        0
32550        0
32551        0
32552        0
32553        0
32554        0
32555        0
32556        0
32557        0
32558        0
32559        0
32560    15024
Name: Net_Captial_Loss, Length: 32561, dtype: int32